.Display {
  height: 160vh;
  width: 100vw;
  background-image: url(https://live.staticflickr.com/3391/3345598163_d812e07513_b.jpg);
  font-family: "Josefin Sans", sans-serif;
  display: flex;
}

.GetButton {
  height: 4%;
  width: 6%;
}
